services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: babe_api
    ports:
      - "3003:3003"
    env_file:
      - .env
    depends_on:
      - rabbitmq
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .:/app

  rabbitmq:
    image: rabbitmq:3-management
    container_name: babe_rabbitmq
    ports:
      - "5675:5672"
      - "15675:15672"
    environment:
      RABBITMQ_DEFAULT_USER: babe_user
      RABBITMQ_DEFAULT_PASS: babe_password
      RABBITMQ_DEFAULT_VHOST: /
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

volumes:
  rabbitmq_data:
